/* .top-components {
    width: auto;
    position: relative;
    border: 1px solid black;
}

.arrow {
    border: 1px solid red;

}

.menuUserInfo {
    border: 1px solid blue;
    width: auto;
    height: 30px;
} */