.title {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 1.5em;
}

.question {
  text-align: center;
  margin-top: 0.5em;
  font-size: 1.5em;
}

.vehicle-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4em;
}

.vehicle-box {
  width: 80vw;
  max-width: 170px;
  height: 80vw;
  max-height: 170px;
  text-align: center;
  margin-bottom: 1em;
}

.bicycle,
.car {
  font-size: 1.5em;
  margin-top: 7vh;
  margin-bottom: 7vh;
}

.vehicle-box img {
  margin-top: 25px;
  width: 60%;
}

.bicycle-box {
  background-color: #aedff7;
  border-radius: 8px;
  margin-bottom: 10vh;
}

.car-box {
  background-color: #c6f7ae; 
  border-radius: 8px;
  border-radius: 8px;
  margin-bottom: 10vh;
}

.admin {
  margin-top: 1.7em;
  text-align: center;
  font-size: 1.2em;
  color: grey;
}

.log {
  margin-top: -0.5em;
  text-decoration: underline;
  cursor: pointer;
}

.help {
  display: block;
  text-align: center;
  color: blue;
  margin-top: 1em;
  text-decoration: none;
  margin-bottom: 3vh;
}

@media (min-width: 600px) {
  .vehicle-container {
    flex-direction: row;
    justify-content: center; 
  }

  .vehicle-box {
    margin-right: 1em;
    margin-left: 1em;
  }

  .bicycle,
  .car {
    margin-top: 7vh;
  }
}

@media (min-width: 1024px) {
  .title {
    font-size: 2em;
  }

  .question,
  .admin {
    font-size: 1.8em;
  }
}
