/* Estilos para móviles (estilo base) */
.header-container {
  padding: 15px; /* Ajusta el padding para móviles */
  background-color: #333;
}

.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos se envuelvan en varias líneas en pantallas pequeñas */
}

.nav-item {
  margin-top: 20px;
  margin-right: 2vh; /* Ajusta el margen para móviles */
  margin-left: 2vh;
}

.nav-link {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.nav-link:hover {
  color: lightgray;
}

/* Media queries para tablet y PC */
@media (min-width: 768px) {
  .header-container {
      padding: 20px; /* Ajusta el padding para tablet y PC */
  }

  .nav-item {
      margin-right: 15px; /* Ajusta el margen para tablet y PC */
      margin-left: 15px;
  }
}

@media (min-width: 1024px) {
  .header-container {
      padding: 30px; /* Ajusta el padding para pantallas más grandes */
  }

  .nav-item {
      margin-right: 30px; /* Ajusta el margen para pantallas más grandes */
      margin-left: 30px;
  }
}
